@inherits LayoutComponentBase

<AuthorizeView>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
	<Authorized>
		<FluentLayout NavigationDeferredLoading="true">

			@* ------------------- *@
			@*       Header        *@
			@* ------------------- *@
			<FluentLayoutItem Area="@LayoutArea.Header" Height="44px">
				<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="4px" Height="100%">
					@* Hamburger on Mobile *@
					<FluentLayoutHamburger @ref="@_hamburger" Style="margin: 2px 12px;" PanelHeader="MyProject" Display="HamburgerDisplay.DesktopMobile" />

					MyProject

					<FluentSpacer />


					@* DarkTheme *@
					<FluentButton IconStart="@(new Icons.Regular.Size20.DarkTheme().WithColor("var(--colorNeutralForegroundOnBrand)"))"
								  OnClick="@SwitchThemeAsync"
								  Appearance="ButtonAppearance.Transparent"
								  Title="Switch to Light/Dark theme" />


				</FluentStack>
			</FluentLayoutItem>

			@* ------------------- *@
			@*     Left menu       *@
			@* ------------------- *@

			<FluentLayoutItem Area="@LayoutArea.Navigation" Width="262px" Sticky="true" Height="var(--layout-body-height)"
							  Style="overflow-y: auto; padding: 0px; border-right: var(--strokeWidthThin) solid var(--colorNeutralStroke1);">
				<NavMenu />
			</FluentLayoutItem>

			@* ------------------- *@
			@*       Body          *@
			@* ------------------- *@


			<FluentLayoutItem Area="@LayoutArea.Content" Class="demo-home">
				<div class="container-fluid">
					@Body
				</div>

			</FluentLayoutItem>


			@* ------------------- *@
			@*       Footer        *@
			@* ------------------- *@

			<FluentLayoutItem Area="LayoutArea.Footer" Padding="@Padding.All0">

				<!-- Version and copyright -->
				<FluentStack VerticalAlignment="@VerticalAlignment.Center"
							 Padding="@Padding.All2"
							 HorizontalGap="12px"
							 Style="font-size: smaller;">

					<div>
						Version: @AppVersion.Version
					</div>

					<FluentSpacer />
					<a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core" target="_blank" hidden-when="xs">
						Powered by @AppVersion.FrameworkDescription
					</a>
					<FluentSpacer />

					<div hidden-when="xs">
						&copy; Harold Scholz &amp; Co GmbH @AppVersion.CurrentYear. All rights reserved.
					</div>
				</FluentStack>
			</FluentLayoutItem>

		</FluentLayout>
	</Authorized>
</AuthorizeView>

<!-- FluentUI Service Providers -->
<FluentProviders />

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
